@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header, main, footer, nav, aside, section, div, a{
    display: block;
}
a{
    text-decoration: none;
}
header{
    width: 100%;
    height: 32px;
    background-color: #5BC0DE;
}
header section {
    display: flex;
}
#logo{
    background-image: url(../images/logo1-removebg-preview.png);
    width: 40px;
    background-size: contain;
    background-repeat: no-repeat;
}
#search{
    text-align: center;
}
#addBook{
    background-image: url(../images/add.svg);
    width: 24px;
    height: 24px;
    background-size: contain;
    background-repeat: no-repeat;
}
#reserveIcon{
    background-image: url(../images/reserve.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}
#editIcon{
    background-image: url(../images/edit.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}
#navigationArea{
    gap: 26px;
}
#hamburgerNavigation {
    float: right;
}
aside section {
    display: flex;
    flex-direction: column;
}
aside img {
    width: 24px;
    height: 24px;
}
aside a {
    border-top: gray solid 1px!important;
    border-bottom: gray solid 1px!important;
    border-radius: 0!important;
    padding-right: 0!important;
}
aside a img {
    opacity: 0.5;
}
nav {
    gap:10px;
    margin-right: 10px;
}
#wrapper{
    gap: 5px;
}
main {
    margin: 5%;
    flex-direction: column;
}
#actionArea * {
    width: 24px;
    height: 24px;
}
#actionArea{
    margin-left: 69px;
    gap: 10px;
}
#bookDetails{
    gap: 10px;
}
#imageAreaMobile{
    gap:10px;
}
#nameAreaMobile{
    align-items: center!important;
}
@media screen and (max-width: 1000px){
    #innerHamburger, #imageAreaMobile, #nameAreaMobile, #tabsSection{
        display: flex!important;
    }
    #tabsSection{
        flex-direction: column;
        align-items: center;
    }
    #bookDetails{
        align-items: center;
        flex-direction: column;
    }
    #imageAreaDesktop, #abstractAreaDesktop, #bookMeta, #breadcrumps{
        display: none!important;
    }
}
@media screen and (min-width: 1001px){
    #innerHamburger, #imageAreaMobile, #nameAreaMobile, #tabsSection{
        display: none!important;
    }
    #bookDetails{
        flex-direction: row;
    }
    #imageAreaDesktop, #abstractAreaDesktop, #bookMeta{
        display: flex!important;
    }
}
.alignHebrewEnd *{
    text-align: right;
}
.w30{
    width: 30%;
}
.roundInput{
    border-radius: 20px;
}
.noLink{
    color: black;
}
.textRight{
    text-align: right;
}
.hv50{
    height: 50vh!important;
}
.profilePic {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.addBookForm{
    flex-direction: column;
    display: flex;
    width: 100%;
    height: calc(100vh - 32px - 40px);
}
.addBookForm h1{
    display: flex;
    justify-content: center;
}
#abstractLable{
    margin-top: 6px;
}
.column{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    height: 40%;
}
#abstractArea{
    display: flex;
    flex-direction: row;
    width: 70%;
}
h2{
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}
.col{
    margin-bottom: 5px;
}
#nameBookLable,#authorNameLable,#publishNameLable,#translatorNameLabel
,#publicationDateLable,#categoryLable,#stateLable{
    display: flex;
    justify-content: flex-end;
}
#categoryLable,#stateLable{
    margin-bottom: 0.5rem;
}
.buttons{
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-bottom: 5px;
}
#save{
    margin-top: 30px;
    width: 150px;
    margin-bottom: 5px;
    border-radius: 20px;
    border: none;
}
.btn-primary{
    border: none;
}
#save:hover,.btn-primary:hover{
    background-color: #5BC0DE;
    color: black;
}

option,#abstract,#bookName,#authorName,#translatorName,#publishName
,#publicationDate{
    text-align: right;
}

