@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header, main, footer, nav, aside, section, div, a{
    display: block;
}
.registerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
a{
    text-decoration: none;
}
.loginTitle{
    font-size: 24px;
}
.btnRegister {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #5BC0DE;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.btnRegister:hover {
    background-color: #45a4c2;
}
.loginLink a {
    color: #5BC0DE;

}
.loginLink a:hover {
    color:#45a4c2;
}
header{
    width: 100%;
    height: 100px;
    background-color: #5BC0DE;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
input[type="file"]{
    display: none;
}
/* header section {
    display: flex;
} */
header img {
    height: 50%;
    margin: 10px;
}
#logo{
    background-image: url(../images/logo1-removebg-preview.png);
    width: 100px;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}
#addBook{
    background-image: url(../images/add.svg);
    width: 24px;
    height: 24px;
    background-size: contain;
    background-repeat: no-repeat;
}
#reserveIcon{
    background-image: url(../images/reserve.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}
#editIcon{
    background-image: url(../images/edit.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}
#hamburgerNavigation {
    height: 505px;
    float: right;
}
aside{
    gap:55px;
    flex: 1;
}
aside section {
    display: flex;
    flex-direction: column;
}
aside img {
    width: 24px;
    height: 24px;
}
aside a {
    border-top: gray solid 1px!important;
    border-bottom: gray solid 1px!important;
    border-radius: 0!important;
    padding-right: 0!important;
}
aside a img {
    opacity: 0.5;
}
nav {
    gap:10px;
    margin-right: 10px;
}
#wrapper{
    
    margin: 5%;
    flex-direction: column;
}
main {
    gap: 5px;
}
#actionArea * {
    width: 24px;
    height: 24px;
}
#imageAreaMobile, #bookDetails, #imageAreaDesktop, #stationDetails{
    gap:10px;
}
#nameAreaMobile{
    align-items: center!important;
}
@media screen and (max-width: 1000px){
    #bookForm .row{
        display: block!important;
    }
    #imageAreaMobile, #nameAreaMobile, #tabsSection{
        display: flex!important;
    }
    #tabsSection{
        flex-direction: column;
        align-items: center;
    }
    #bookDetails{
        align-items: center;
        flex-direction: column;
    }
    #imageAreaDesktop, #abstractAreaDesktop, #bookMeta, nav{
        display: none!important;
    }
}
@media screen and (min-width: 1001px){
    #upperAddSection{
        flex-direction: row!important;
        height: 25vh;
    }
    #imageAreaMobile, #nameAreaMobile, #tabsSection{
        display: none!important;
    }
    #bookDetails{
        flex-direction: row;
    }
    #imageAreaDesktop, #abstractAreaDesktop, #bookMeta{
        display: flex!important;
    }
}
.alignHebrewEnd *{
    text-align: right;
}
.w30{
    width: 30%;
}
.roundInput{
    border-radius: 20px;
}
.noLink{
    color: black;
}
.textRight{
    text-align: right;
}
.hv50{
    height: 50vh!important;
}
.profilePic {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.addBookForm{
    flex-direction: column;
    display: flex;
    width: 100%;
    height: calc(100vh - 32px - 40px);
}
.addBookForm h1{
    display: flex;
    justify-content: center;
}
.column{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    height: 40%;
}
#bookPlaceholder{
    background-image: attr(dataImage);
    background-size: contain;
    background-repeat: no-repeat;
}
#abstractArea{
    display: flex;
    flex-direction: row;
    width: 100%;
}
h2{
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}
.col{
    margin-bottom: 5px;
}
.card-body img {
    width: 195px;
}
#bookForm .form-label{
    display: flex;
    justify-content: flex-end;
}
.buttons{
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-bottom: 5px;
}
#bookForm input[type="submit"]{
    margin-top: 30px;
    width: 150px;
    margin-bottom: 5px;
    border-radius: 20px;
    border: none;
}
.btn-primary{
    border: none;
}
#bookForm input[type="submit"]:hover,.btn-primary:hover{
    background-color: #5BC0DE;
    color: black;
}

option{
    text-align: right;
}
.pad-35{
    padding-top: 35px;
}
.hv65{
    height: 65vh;
}
.pr-2{
    padding-right: 2rem !important;
}
.pr-4{
    padding-right: 4rem !important;
}
.hidden {
    display: none;
}